body{background-color: cadetblue;}

h1{color: white;
text-align: center;
margin: 60px 0 90px 0;
}

#entryloc {
    background-color: rgb(0, 174, 255);
    margin: 0 80px 0 80px;
    border-radius: 9px;
}

#searchbtn {
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
}

#responseloc {
    background-color: rgb(0, 174, 255);
    margin: 10px 80px 0 80px;
    border-radius: 9px;
    height: 20px;
}